In [183]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [407]:
df = pd.read_csv('data2.csv',
                na_values = ['na','?','NOT AVAILABLE','NOT SPECIFIED','NOT OBTAINED','UNKNOWN','UNK','UNKNOWN/NOT SPECIFIED',
                          'UNABLE TO OBTAIN', 'PATIENT DECLINED TO ANSWER','UNOBTAINABLE','UNKNOWN','NOT AVAIL.',' ',
                          'UNKNOWN (DEFAULT)'])

# data2.csv  = data.csv with no excel #NAME? errors in admission_diagnosis

In [306]:
#df = df.drop('patient_id',axis = 1)  DO NOT DROP! patient_id relevant for diagnosis feature extraction!

In [307]:
df.head()

,gender,age,hospitalization,admission_type,admission_origin,admission_diagnosis,insurance,religion,marital_status,ethnicity,...,num_inputevents,num_labevents,num_microbiologyevents,num_noteevents,num_outputevents,num_procedureevents,num_transfers,num_chartevents,expired,patient_id
0,M,66,5.92,EMERGENCY,CLINIC REFERRAL,PNEUMONIA,Medicare,NaN,DIVORCED,WHITE,...,7,37,3,0,2,0,1,356,0,0
1,M,26,3.79,EMERGENCY,EMERGENCY ROOM ADMISSION,SEIZURE,Government,NaN,SINGLE,NaN,...,51,44,2,1,11,0,1,763,0,1
2,M,51,18.00,EMERGENCY,ER ADMISSION,SCALP LACERATION;RESPIRATORY FAILURE,Government,NaN,DIVORCED,BLACK/AFRICAN AMERICAN,...,63,48,3,0,16,0,0,1102,0,2
3,F,51,13.79,URGENT,TRANSFER FROM HOSPITAL,CARDIAC DZ.,Private,OTHER,MARRIED,NaN,...,3,22,1,0,1,0,0,38,0,3
4,F,72,9.21,ELECTIVE,NaN,ABDOMINAL LAXITY/SDA,Medicare,NaN,SINGLE,WHITE,...,2,18,0,0,3,0,0,155,0,4

In [308]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48976 entries, 0 to 48975
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   gender                  48976 non-null  object
 1   age                     48976 non-null  int64
 2   hospitalization         48976 non-null  float64
 3   admission_type          48976 non-null  object
 4   admission_origin        45263 non-null  object
 5   admission_diagnosis     48955 non-null  object
 6   insurance               47398 non-null  object
 7   religion                32311 non-null  object
 8   marital_status          40006 non-null  object
 9   ethnicity               44073 non-null  object
 10  num_callouts            48976 non-null  int64
 11  num_diagnoses           48976 non-null  int64
 12  num_procedures          48976 non-null  int64
 13  admission_procedure     42231 non-null  object
 14  num_cptevents           48976 non-null  int64
 15  num_inputevents         48976 non-null  int64
 16  num_labevents           48976 non-null  int64
 17  num_microbiologyevents  48976 non-null  int64
 18  num_noteevents          48976 non-null  int64
 19  num_outputevents        48976 non-null  int64
 20  num_procedureevents     48976 non-null  int64
 21  num_transfers           48976 non-null  int64
 22  num_chartevents         48976 non-null  int64
 23  expired                 48976 non-null  int64
 24  patient_id              48976 non-null  int64
dtypes: float64(1), int64(15), object(9)
memory usage: 9.3+ MB

In [309]:
df.isnull().sum()

gender                        0
age                           0
hospitalization               0
admission_type                0
admission_origin           3713
admission_diagnosis          21
insurance                  1578
religion                  16665
marital_status             8970
ethnicity                  4903
num_callouts                  0
num_diagnoses                 0
num_procedures                0
admission_procedure        6745
num_cptevents                 0
num_inputevents               0
num_labevents                 0
num_microbiologyevents        0
num_noteevents                0
num_outputevents              0
num_procedureevents           0
num_transfers                 0
num_chartevents               0
expired                       0
patient_id                    0
dtype: int64

In [310]:
for col in df.columns:
    print(col,2*'\n')
    print(df[col].value_counts(),'\n')
    print ('')
    print (100*'-')
    print ('')

gender


M    27353
F    21623
Name: gender, dtype: int64


----------------------------------------------------------------------------------------------------

age


0     6796
52    1358
58    1050
50     985
55     960
      ...
17      59
16      20
15       7
14       1
89       1
Name: age, Length: 77, dtype: int64


----------------------------------------------------------------------------------------------------

hospitalization


1.96      311
4.00      304
2.00      284
4.04      281
3.96      280
         ...
63.96       1
76.96       1
108.54      1
105.54      1
41.33       1
Name: hospitalization, Length: 1796, dtype: int64


----------------------------------------------------------------------------------------------------

admission_type


EMERGENCY    34894
NEWBORN       6586
ELECTIVE      6379
URGENT        1117
Name: admission_type, dtype: int64


----------------------------------------------------------------------------------------------------

admission_origin


EMERGENCY ROOM ADMISSION              10729
PHYSICAL REFERRAL                      9617
CLINIC REFERRAL                        6805
TRANSFER FROM HOSPITAL                 5607
ADMITTED FROM EMERGENCY                3087
ER ADMISSION                           1822
CLINIC REFERAL                          824
TRANFSER FROM HOSPITAL                  664
REFERRAL                                637
CLINIC                                  554
FROM CLINIC                             479
CLINIC  REFERRAL                        296
 PHYSICAL REFERRAL                      285
ADMITTED FRIM EMERGENCY                 273
EMERGENCY ROOM ADMIT                    266
EMERGENCY ROOM ADMISSION                264
 REFERRAL                               201
 CLINIC REFERRAL                        200
PHYS REFERRAL                           196
EMERGENCY ROOM ADMISSION                194
TFH                                     180
TRANSFER FROM SKILLED NURSE             175
PHYSICAL REFERRAL                       169
ER ADMIT                                167
PHYSICAL  REFERRAL                      161
PHYSICAL REFERRAL                       157
 EMERGENCY ROOM ADMISSION               142
EMERG. ROOM ADMISSION                   133
PHYSICAL   REFERRAL                     133
TRANSFER FROM HOSP.                     126
HOSP. TRAN.                             124
CINIC REFERRAL                           97
  EMERGENCY ROOM ADMISSION               93
HMO REFERRAL                             91
HOSPITAL TRANSFER                        88
TRANS FRM HPL                            70
TRANSFER FROM HOSPITAL                   62
TRANSFER FROM OTHER HEALTH CENTER        44
TRANS FRM SKL NURSE                      40
INTERNAL TRANSFER                         2
 TRANSFER FROM OTHER HEALTH CENTER        2
TRANSFER FROM OTHER  HEALTH CENTER        1
HMO REFERAL                               1
TRANSFER FROM SAME HOSPITAL               1
TRANFSER FROM SAME HOSP.                  1
TRNS FR HEALTH CNTR                       1
TRANSFER FROM OTHER HEALTH CENTER         1
TRANSFER FROM OHTER HEALTH CENTER         1
Name: admission_origin, dtype: int64


----------------------------------------------------------------------------------------------------

admission_diagnosis


NEWBORN                                   6554
PNEUMONIA                                 1307
SEPSIS                                     958
CONGESTIVE HEART FAILURE                   777
CORONARY ARTERY DISEASE                    691
                                          ...
METASTATIC  RENAL CELL CARCINOMA\CHEMO       1
TACHYPNEA;TELEMETRY                          1
PEDESTRIAN STRUCK,HEAD INJURY                1
STROKE,HEAD BLEED                            1
ANEMIA, PNEUMONIA                            1
Name: admission_diagnosis, Length: 13382, dtype: int64


----------------------------------------------------------------------------------------------------

insurance


Medicare      22590
Private       18196
Medicaid       4689
Government     1434
Self Pay        489
Name: insurance, dtype: int64


----------------------------------------------------------------------------------------------------

religion


CATHOLIC                  16865
PROTESTANT QUAKER          5824
JEWISH                     4357
OTHER                      2200
EPISCOPALIAN                620
STAN                        573
GREEK ORTHODOX              382
CHRISTIAN SCIENTIST         351
SCIENTOLOGY                 252
BUDDHIST                    214
MUSLIM                      187
JEHOVAH'S WITNESS           122
UNITARIAN-UNIVERSALIST      101
HINDU                        90
ROMANIAN EAST. ORTH          66
7TH DAY ADVENTIST            65
BAPTIST                      23
HEBREW                       14
METHODIST                     5
Name: religion, dtype: int64


----------------------------------------------------------------------------------------------------

marital_status


MARRIED         19935
SINGLE          10968
WIDOWED          5947
DIVORCED         2672
SEPARATED         472
LIFE PARTNER       12
Name: marital_status, dtype: int64


----------------------------------------------------------------------------------------------------

ethnicity


WHITE                                                       20460
CAUCASIAN                                                   11169
BLACK/AFRICAN AMERICAN                                       4529
GUERO                                                        2164
HISPANIC OR LATINO                                           1432
OTHER                                                        1267
ASIAN                                                        1253
ASIAN - CHINESE                                               229
CAUCATIAN                                                     226
HISPANIC/LATINO - PUERTO RICAN                                191
BLACK/CAPE VERDEAN                                            171
WHITE - RUSSIAN                                               130
MULTI RACE ETHNICITY                                          104
BLACK/HAITIAN                                                  83
ASIAN - ASIAN INDIAN                                           72
WHITE - OTHER EUROPEAN                                         70
HISPANIC/LATINO - DOMINICAN                                    63
WHITE - BRAZILIAN                                              49
PORTUGUESE                                                     45
ASIAN - VIETNAMESE                                             44
AMERICAN INDIAN/ALASKA NATIVE                                  38
MIDDLE EASTERN                                                 37
BLACK/AFRICAN                                                  35
HISPANIC/LATINO - GUATEMALAN                                   29
WHITE - EASTERN EUROPEAN                                       21
ASIAN - FILIPINO                                               20
HISPANIC/LATINO - CUBAN                                        19
HISPANIC/LATINO - SALVADORAN                                   16
ASIAN - CAMBODIAN                                              14
ASIAN - OTHER                                                  13
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER                      13
HISPANIC/LATINO - CENTRAL AMERICAN (OTHER)                     13
HISPANIC/LATINO - MEXICAN                                       9
HISPANIC/LATINO - COLOMBIAN                                     8
ASIAN - KOREAN                                                  8
CARIBBEAN ISLAND                                                7
SOUTH AMERICAN                                                  6
ASIAN - JAPANESE                                                6
HISPANIC/LATINO - HONDURAN                                      4
AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE        3
ASIAN - THAI                                                    3
Name: ethnicity, dtype: int64


----------------------------------------------------------------------------------------------------

num_callouts


0     31815
1     12704
2      3257
3       831
4       140
5        85
7        50
6        47
9        13
8        10
13        6
10        5
11        4
12        3
15        3
17        2
20        1
Name: num_callouts, dtype: int64


----------------------------------------------------------------------------------------------------

num_diagnoses


1      20825
2      11410
0       5248
3       4750
4       2275
       ...
300        1
110        1
275        1
85         1
63         1
Name: num_diagnoses, Length: 103, dtype: int64


----------------------------------------------------------------------------------------------------

num_procedures


0      29221
1      16037
2       1997
3        648
4        313
5        161
6        112
7         74
8         69
12        49
10        36
9         29
25        25
11        18
15        17
18        16
50        12
14        12
38        11
75        10
13         9
24         9
23         9
31         8
16         8
29         7
21         5
19         5
62         5
17         5
28         4
20         3
35         2
200        2
59         2
88         2
48         2
100        2
175        2
125        2
33         2
32         2
36         1
30         1
77         1
112        1
250        1
275        1
150        1
138        1
54         1
43         1
47         1
41         1
Name: num_procedures, dtype: int64


----------------------------------------------------------------------------------------------------

admission_procedure


Cont inv mec ven <96 hrs    2798
Vaccination NEC             2249
Venous cath NEC             1609
Insert endotracheal tube    1512
Circumcision                1444
                            ...
Rep vaginoent fistul NEC       1
Endo insrt bronc def/sub       1
Repl pacem 1-cham, rate        1
Sinusectomy NOS                1
Adjust lid position NEC        1
Name: admission_procedure, Length: 1204, dtype: int64


----------------------------------------------------------------------------------------------------

num_cptevents


0      18480
1      17146
2      10110
3       2176
4        503
5        203
6        112
8         52
7         46
12        33
10        24
9         16
25         9
15         9
14         7
18         6
13         6
11         6
17         5
24         3
16         3
31         2
50         2
23         2
29         2
41         1
62         1
20         1
38         1
21         1
150        1
100        1
35         1
28         1
225        1
33         1
125        1
75         1
Name: num_cptevents, dtype: int64


----------------------------------------------------------------------------------------------------

num_inputevents


0       4995
4       1827
3       1708
2       1700
5       1688
        ...
562        1
850        1
1362       1
403        1
543        1
Name: num_inputevents, Length: 491, dtype: int64


----------------------------------------------------------------------------------------------------

num_labevents


40      1222
37      1211
36      1205
38      1185
41      1170
        ...
431        1
463        1
495        1
591        1
1055       1
Name: num_labevents, Length: 560, dtype: int64


----------------------------------------------------------------------------------------------------

num_microbiologyevents


0      24294
1      13738
2       5467
3       2302
4       1171
       ...
45         1
73         1
42         1
138        1
76         1
Name: num_microbiologyevents, Length: 73, dtype: int64


----------------------------------------------------------------------------------------------------

num_noteevents


0      31154
1      11266
2       2422
3       1021
4        580
       ...
112        1
143        1
111        1
651        1
415        1
Name: num_noteevents, Length: 142, dtype: int64


----------------------------------------------------------------------------------------------------

num_outputevents


0      7280
1      3980
2      3855
3      3562
4      3286
       ...
105       1
175       1
74        1
141       1
63        1
Name: num_outputevents, Length: 80, dtype: int64


----------------------------------------------------------------------------------------------------

num_procedureevents


0      33461
1       7856
2       4408
3       1822
4        570
5        245
6        134
8         77
7         71
9         47
10        37
12        31
11        29
14        21
15        14
13        13
24        12
19        11
17        10
21        10
16        10
18         9
20         9
29         7
31         7
38         6
33         5
23         5
41         4
22         4
75         3
32         3
50         3
47         3
35         2
28         2
59         2
25         2
46         1
34         1
27         1
88         1
36         1
100        1
37         1
52         1
80         1
48         1
77         1
Name: num_procedureevents, dtype: int64


----------------------------------------------------------------------------------------------------

num_transfers


1      23649
0      17984
2       5135
3        964
4        326
5        180
6         98
7         83
8         76
12        74
10        69
15        47
75        46
38        39
18        32
9         31
23        29
25        28
14        27
50        21
16        10
11         7
24         5
19         4
29         3
21         2
17         2
13         2
100        1
20         1
31         1
Name: num_transfers, dtype: int64


----------------------------------------------------------------------------------------------------

num_chartevents


0       1512
13       142
16       137
15       135
18       134
        ...
2415       1
2383       1
2351       1
2319       1
2065       1
Name: num_chartevents, Length: 2373, dtype: int64


----------------------------------------------------------------------------------------------------

expired


0    44138
1     4838
Name: expired, dtype: int64


----------------------------------------------------------------------------------------------------

patient_id


2047     1
13644    1
48477    1
46428    1
36187    1
        ..
15026    1
8881     1
10928    1
37543    1
0        1
Name: patient_id, Length: 48976, dtype: int64


----------------------------------------------------------------------------------------------------

## Handle spacing,spelling

admission_origin (done, review)
<br>
admission_diagnosis 
<br>
admission_procedure 
<br>
ethnicity

### admission_origin

In [311]:
df['admission_origin'] = df['admission_origin'].str.strip()

In [312]:
df.admission_origin = df.admission_origin.replace('\s+', ' ', regex = True)

In [313]:
print(df['admission_origin'].value_counts(),'\n')

EMERGENCY ROOM ADMISSION             11422
PHYSICAL REFERRAL                    10522
CLINIC REFERRAL                       7301
TRANSFER FROM HOSPITAL                5669
ADMITTED FROM EMERGENCY               3087
ER ADMISSION                          1822
REFERRAL                               838
CLINIC REFERAL                         824
TRANFSER FROM HOSPITAL                 664
CLINIC                                 554
FROM CLINIC                            479
ADMITTED FRIM EMERGENCY                273
EMERGENCY ROOM ADMIT                   266
PHYS REFERRAL                          196
TFH                                    180
TRANSFER FROM SKILLED NURSE            175
ER ADMIT                               167
EMERG. ROOM ADMISSION                  133
TRANSFER FROM HOSP.                    126
HOSP. TRAN.                            124
CINIC REFERRAL                          97
HMO REFERRAL                            91
HOSPITAL TRANSFER                       88
TRANS FRM HPL                           70
TRANSFER FROM OTHER HEALTH CENTER       48
TRANS FRM SKL NURSE                     40
INTERNAL TRANSFER                        2
HMO REFERAL                              1
TRANSFER FROM SAME HOSPITAL              1
TRANFSER FROM SAME HOSP.                 1
TRNS FR HEALTH CNTR                      1
TRANSFER FROM OHTER HEALTH CENTER        1
Name: admission_origin, dtype: int64

In [314]:
admission_origin_column = df.admission_origin
new_admission_origin_column = df.admission_origin

In [406]:
for row in range(len(admission_origin_column)):
    if ((admission_origin_column.loc[row]=='CLINIC REFERAL')
        or (admission_origin_column.loc[row]=='CINIC REFERRAL')):
        new_admission_origin_column.loc[row] = 'CLINIC REFERRAL'

Find a better way to do this ^

In [316]:
#print(new_admission_origin_column.value_counts(),'\n')

In [317]:
for row in range(len(admission_origin_column)):
    if ((admission_origin_column.loc[row]=='ER ADMISSION') 
       or (admission_origin_column.loc[row]=='ADMITTED FRIM EMERGENCY')
       or (admission_origin_column.loc[row]=='ADMITTED FROM EMERGENCY')
       or (admission_origin_column.loc[row]=='EMERGENCY ROOM ADMIT') 
       or (admission_origin_column.loc[row]=='ER ADMIT')
       or (admission_origin_column.loc[row]=='EMERG. ROOM ADMISSION') ):
        new_admission_origin_column.loc[row] = 'EMERGENCY ROOM ADMISSION'

In [318]:
#print(new_admission_origin_column.value_counts(),'\n')

In [319]:
for row in range(len(admission_origin_column)):
    if (admission_origin_column.loc[row]=='PHYS REFERRAL'):
        new_admission_origin_column.loc[row] = 'PHYSICAL REFERRAL'

In [320]:
#print(new_admission_origin_column.value_counts(),'\n')

In [321]:
for row in range(len(admission_origin_column)):
    if ((admission_origin_column[row]=='TRANFSER FROM HOSPITAL') 
       or (admission_origin_column.loc[row]=='TFH')
       or (admission_origin_column.loc[row]=='TRANSFER FROM HOSP.')
       or (admission_origin_column.loc[row]=='HOSP. TRAN.') 
       or (admission_origin_column.loc[row]=='HOSPITAL TRANSFER')
       or (admission_origin_column.loc[row]=='TRANS FRM HPL')):
        new_admission_origin_column.loc[row] = 'TRANSFER FROM HOSPITAL'

In [322]:
#print(new_admission_origin_column.value_counts(),'\n')

In [323]:
for row in range(len(admission_origin_column)):
    if ((admission_origin_column.loc[row]=='TRANFSER FROM SAME HOSP.') 
       or (admission_origin_column.loc[row]=='INTERNAL TRANSFER')):
        new_admission_origin_column.loc[row] = 'TRANSFER FROM SAME HOSPITAL'

In [324]:
#print(new_admission_origin_column.value_counts(),'\n')

In [325]:
for row in range(len(admission_origin_column)):
    if ((admission_origin_column[row]=='CLINIC') 
       or (admission_origin_column.loc[row]=='FROM CLINIC')):
        new_admission_origin_column.loc[row] = 'TRANSFER FROM CLINIC'

In [326]:
#print(new_admission_origin_column.value_counts(),'\n')

In [327]:
for row in range(len(admission_origin_column)):
    if ((admission_origin_column[row]=='TRANSFER FRM SKL NURSE') 
        or (admission_origin_column[row]=='TRANS FRM SKL NURSE')):
        new_admission_origin_column.loc[row] = 'TRANSFER FROM SKILLED NURSE'

In [328]:
#(new_admission_origin_column.value_counts(),'\n')

In [329]:
for row in range(len(admission_origin_column)):
    if (admission_origin_column[row]=='HMO REFERAL'):
        new_admission_origin_column.loc[row] = 'HMO REFERRAL'

In [330]:
#print(new_admission_origin_column.value_counts(),'\n')

In [331]:
for row in range(len(admission_origin_column)):
    if (admission_origin_column[row]=='TRANSFER FROM OHTER HEALTH CENTER'):
        new_admission_origin_column.loc[row] = 'TRANSFER FROM OTHER HEALTH CENTER'

In [332]:
#print(new_admission_origin_column.value_counts(),'\n')

In [333]:
for row in range(len(admission_origin_column)):
    if (admission_origin_column[row]=='TRNS FR HEALTH CNTR'):
        new_admission_origin_column.loc[row] = 'TRANSFER FROM HEALTH CENTER'

In [334]:
print(new_admission_origin_column.value_counts(),'\n')

EMERGENCY ROOM ADMISSION             17170
PHYSICAL REFERRAL                    10718
CLINIC REFERRAL                       8222
TRANSFER FROM HOSPITAL                6921
TRANSFER FROM CLINIC                  1033
REFERRAL                               838
TRANSFER FROM SKILLED NURSE            215
HMO REFERRAL                            92
TRANSFER FROM OTHER HEALTH CENTER       49
TRANSFER FROM SAME HOSPITAL              4
TRANSFER FROM HEALTH CENTER              1
Name: admission_origin, dtype: int64

In [335]:
df['admission_origin'] = new_admission_origin_column

In [336]:
admission_procedure_counts_column = df['admission_procedure'].value_counts()

In [337]:
#admission_procedure_counts_column.to_csv("ad_proc_values_col.csv")

In [338]:
admission_diagnosis_counts_column = df['admission_diagnosis'].value_counts()

In [339]:
#admission_diagnosis_counts_column.to_csv('ad_diag_values_col.csv')

### admission_diagnosis

In [340]:
df.loc[790,'admission_diagnosis']        # Deal with ? and spacing, more like this

'? INTRACRANIAL HEMORRHAGE'

### Important Notes

#### ? INTRACRANIAL HEMORRHAGE = INTRA CRANIAL HEMORRHAGE = INTRACRANIAL BLEED

clean and group

#### Find a way to deal with multiple diagnoses ? f.e. SEPSIS, ACUTE RENAL FAILURE and/or SEPSIS; PNEUMONIA and/or SEPSIS/PNEUMONIA

create new features : diagnosis 1, diagnosis 2 etc, separate admission_diagnosis ( semicolon, backslash, frontslash )

better yet: create new features : sepsis, pneumonia, intracranial hemorrhage instead of diagnosis 1 , 2 ,3 etc



##### Possible solution without NLP



str.replace() to have the same delimiter ( backslash,frontslash -> semicolon)

Now that all diagnoses are separated by semicolon

str.split() to get the separated values

add them in new columns

In [371]:
diagnosis_and_id_col= df[['admission_diagnosis','patient_id']]

patient_id as key

In [402]:
diagnosis_and_id_col.head(10)

                    admission_diagnosis  patient_id
0                             PNEUMONIA           0
1                               SEIZURE           1
2  SCALP LACERATION;RESPIRATORY FAILURE           2
3                           CARDIAC DZ.           3
4                  ABDOMINAL LAXITY/SDA           4
5                   RESPIRATORY FAILURE           5
6                        ABDOMINAL PAIN           6
7                           HEART BLOCK           7
8                       LT HIP FRACTURE           8
9                   SUBDURAL HEMORRHAGE           9

#### DEMO

In [403]:
diagnosis_and_id_col.iloc[2,0].split(';')

['SCALP LACERATION', 'RESPIRATORY FAILURE']

In [409]:
A=diagnosis_and_id_col.iloc[4,0].replace('/',';')
print (A)

ABDOMINAL LAXITY;SDA

In [410]:
A=A.split(';')
A

['ABDOMINAL LAXITY', 'SDA']

## To be continued...